<% present sentence do |presenter| %>

<%= presenter.content %>
<%= presenter.timestamp if can? :update, sentence %>
<%= presenter.by_author if can? :update, sentence %>
<div class="clear"></div>
<%= presenter.comments %>

<%= simple_form_for [presenter.sentence, Comment.new] do |f| %>
  <%= f.input :content, label:false %>
  <div class="clear"></div>
  <%= f.button :submit %>
<% end if can? :create, Comment %>
<div class="clear"></div>

<% end %>
