<% present [@translation,@page,@project] do |translation_presenter| %>
<% present [@page,@project] do |page_presenter| %>

<div id="page">
  <div id="title">
    <%= title @project.title %>
    <%= subtitle "Page #{@page.no}" %>
    <%= page_presenter.edit_link %>
  </div>

  <div id="image_container">
    <%= image_tag @page.image_url(:large), id:'rectangle', data:{x2:'500',y2:'500'} %>
  </div>

  <div id="translations_container">
    <%= translation_presenter.translations(@translations) %>
    <%= translation_presenter.form(:new,false) %>

    <div id="bottom_links">
      <%= translation_presenter.new_java_link %>
    </div>
  </div>

  <div class="clear"></div>
</div>

<% end %>
<% end %>
