<div id="page">
  <%= title @project.title %>

  <%= subtitle "Page #{@page.no}" %>

  <div id="image_container">
    <%= image_tag @page.image_url(:large), id:'rectangle', data:{x2:'500',y2:'500'} %>
  </div>

  <div id="translations_container">
    <%= render "translations/translations", translations:@page.translations if @page.translations.present? %>

    <%= render "translations/form" if can? :new, Translation %>

    <% present [@page,@project] do |presenter| %>
      <div id="bottom_links">
        <%= presenter.edit_link %>
      </div>
    <% end %>
  </div>
</div>
