<% present noticement do |presenter| %>

<div class="<%= noticement.klass %>">
  <%= presenter.type %>
  <%= presenter.content %>
  <div class="clear"></div>
  <%= presenter.timestamp %>
  <%= presenter.by_author %>
  <div class="clear"></div>
</div>

<% end %>
