<!DOCTYPE html>
<html>
<head>
  <title>Lingo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="background">
  <div id="main_container">
    <%= render 'layouts/flash', flash:flash %>
    <%= render 'layouts/site_nav', project:@project, page:@page %>
    <%= render 'layouts/user_nav' %>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
